html {
  background: url("img/bgtri.jpeg") no-repeat center bottom;
  background-size: contain;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}

input {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

$placeholder-color:rgba(255, 255, 255, 5);

::-webkit-input-placeholder {
  color: $placeholder-color;
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #3498;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  font-size: 20;
  font-stretch: expanded;
}

a {
  text-decoration: none;
}

p, li, a {
  font-size: 14px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

span,
input {
  border: 2px solid rgba(255, 255, 255, .5);
  font-size: 1.75em;
  padding: .25em .5em .3125em;
  color: rgba(255, 255, 255, .5);
  border-radius: .25em;
  background: transparent;
  transition: all .100s;

  &:focus {
    outline: none;
    color: rgba(255, 255, 255, .75);
    border-color: rgba(255, 255, 255, .75);
  }

  &.keyup {
    color: white;
    border-color: white;
    text-shadow: 0 0 .125em white;
    box-shadow: 0 0 .25em white, inset 0 0 .25em white;
  }
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

$placeholder-color:rgba(255, 255, 255, 255);

::-webkit-input-placeholder {
  color: $placeholder-color;
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  color: $placeholder-color;
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  color: $placeholder-color;
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}
