body{
  background-color: #008080;
  color: white;

}
h1{
  font-size: 68px;
}
h3{
  font-size: 24px;
}
.header{
  font-family: impact;
  color: #008080;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
form{
  font-family: Garamond;
  color: #2F4F4F;
  font-size: 16px;
  font-weight: bold;
}

button{
  background-color: #2F4F4F;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  height: 35px;
  width: auto;
}
#results{
  color: black;
  float: right;
  width: 40%;
  text-align: justify;
  font-size: 42px;
  padding-bottom: 100px;
}
